@import "../../general_style/varriable";

.about {
  padding-top: 120px;
  h2 {
    font-weight: 500;
    color: $secundaryColor;
    font-size: 26px;
  }
  p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
  }
}
