@import "../general_style/varriable";

/* WhatsAppButton.css */
.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-icon {
  background-color: #25d366;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  // padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
  height: 430px;
  width: 300px;
}

.message-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $primaryColor;
  padding: 10px 20px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color: white;
  position: relative;

  .close {
    position: absolute;
    right: 6px;
    top: 2px;
    cursor: pointer;
  }
}

.message-body {
  background-image: url(../assets/profile/whatsappbg.jpg);
  width: 100%;
  height: 66%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .message {
    background-color: white;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 5px;
    z-index: 100;
    &::after {
      content: "";
      position: absolute;
      // width: 10px;
      // height: 10px;
      // background-color: pink;
      left: -9px;
      top: 0;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 10px solid white;
      border-bottom: 5px solid transparent;
    }
    p {
      font-size: 12px;
    }
  }
}

.whatsapp-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  // border: 1px solid $secundaryColor;
}

.whatsapp-message {
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.whatsapp-button {
  background-color: #25d366;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 12px;
  width: 70%;
}

.whatsapp-close {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 16px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
}
